<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  
  <servlet>
  	<servlet-name>Banking</servlet-name>
  	<servlet-class>hcl.banking.AddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Banking</servlet-name>
  	<url-pattern>/OnlineBanking</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>Transfer</servlet-name>
  	<servlet-class>hcl.banking.TransferServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Transfer</servlet-name>
  	<url-pattern>/Transfer</url-pattern>
  </servlet-mapping>
  
</web-app>